
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
th, td {
  padding: 5px;
  text-align: left; 
   font-style: italic;
  font-size: 20px;
  text-align: center; 
 
}
div {
  margin: 30px;
 
}


body {

}